<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h2><%= @test_passage.current_question.body %></h2>

<p><strong><%= t('.questions_number', current: @test_passage.question_number, sum: @test_passage.test.questions.count) %></strong></p>

<%= form_with url: test_passage_path(@test_passage), 
              local: true,
              method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, 
                                  @test_passage.current_question.answers, 
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <div class="form-check mb-3">
      <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
      <%= b.label class: "form-check-label" %>
    </div>
  <% end %>

  <p><%= form.submit t('.next'), class: "btn btn-primary" %></p>
<% end %>
