<nav>
  <ul class="nav-top">
    <li class="nav-top-main"><%= link_to 'TestGuru', root_path %></li>
    <% if logged_in? %>    
      <li><%= link_to 'Tests', tests_path %></li>
      <li><%= link_to 'Logout', logout_path %></li>
      <li class="nav-top-info">Welcome, <%= "#{current_user.name} (#{current_user.email})" %> Guru</li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Signup', signup_path %></li>
    <% end %>
  </ul>
</nav>
<hr>
