<nav>
  <ul class="nav-top">
    <li class="nav-top-main"><%= link_to 'TestGuru', root_path %></li>
    <% if user_signed_in? %>    
      <li><%= link_to t('.login'), tests_path %></li>
      <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
      <li class="nav-top-info"><%= t('.welcome_user', user: current_user.email) %></li>
    <% else %>
      <li><%= link_to t('.login'), new_user_session_path %></li>
      <li><%= link_to t('.signup'), new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
<hr>
