<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author.email %></td>
  <td><%= test.questions.size %></td>
  <td><%= t('.timer', timer: test.timer) %></td>
  <td><%= link_to t('other.show'), admin_test_path(test), class: "btn btn-outline-success" %></td>
  <td>
    <%= link_to t('other.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: "btn btn-outline-warning form-inline-link" %>                  
  </td>
  <td>
    <%= link_to t('other.delete'),
                  admin_test_path(test),
                  class: "btn btn-outline-danger",
                  method: :delete,
                  data: { confirm: t('other.confirm') } %>
  </td>
</tr>
