<h1><%= t('.header') %></h1>

<p><%= link_to t('.create_test'), new_admin_test_path, class: "btn btn-outline-primary" %></p>

<%= render 'shared/validation_errors', resource: @test %>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('tests.index.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('tests.index.level') %></th>
      <th><%= t('tests.index.category') %></th>
      <th><%= t('tests.index.author') %></th>
      <th><%= t('tests.index.questions') %></th>
      <th><%= t('tests.index.timer') %></th>
      <th colspan="3"><%= t('tests.index.action') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
