<h1><%= @test.title %></h1>

<div>
  <strong><%= t('tests.index.level') %>:</strong> <%= @test.level %><br>
  <strong><%= t('tests.index.category') %>: </strong> <%= @test.category.title %><br>
  <strong><%= t('tests.index.author') %>: </strong> <%= @test.author.email %>
</div>

<hr>

<%= link_to t('other.edit'), edit_admin_test_path(@test) %>

<hr>

<%= render 'admin/questions/questions', questions: @test.questions %>

<hr>

<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>

<hr>

<%= link_to t('other.back'), admin_tests_path %>
